In [0]:
!pip install -U -q PyDrive
from pydrive.auth import GoogleAuth
from pydrive.drive import GoogleDrive
from google.colab import auth
from oauth2client.client import GoogleCredentials
import pandas as pd
# Authenticate and create the PyDrive client.
auth.authenticate_user()
gauth = GoogleAuth()
gauth.credentials = GoogleCredentials.get_application_default()
drive = GoogleDrive(gauth)

In [2]:
bg_train_link = 'https://drive.google.com/open?id=1zcHuVtGoRe7cGW1wucG3eTf2fxVSIQC1'
bg_test_link = 'https://drive.google.com/open?id=1oafF_fQghX9-kGcfX8zuNuVJnAYtVDej'
fluff1, bg_train_id = bg_train_link.split('=')
fluff1, bg_test_id = bg_test_link.split('=')
#print (id) # Verify that you have everything after '='
bg_train_downloaded = drive.CreateFile({'id':bg_train_id}) 
bg_test_downloaded = drive.CreateFile({'id':bg_test_id})
bg_train_downloaded.GetContentFile('bg_train.csv')  
bg_test_downloaded.GetContentFile('bg_test.csv')  
bg_train_df = pd.read_csv('bg_train.csv')
bg_test_df = pd.read_csv('bg_test.csv')

bg_train_df = bg_train_df.dropna()
bg_test_df = bg_test_df.dropna()

bg_train_df.info()
bg_test_df.info()
bg_train_df.tail()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 477 entries, 0 to 480
Data columns (total 12 columns):
id            477 non-null int64
timestamp     477 non-null object
gender        477 non-null int64
star_sign     477 non-null object
phone_os      477 non-null object
height        477 non-null float64
weight        477 non-null float64
sleepiness    477 non-null int64
iq            477 non-null float64
fb_friends    477 non-null float64
yt            477 non-null object
self_intro    477 non-null object
dtypes: float64(4), int64(3), object(5)
memory usage: 48.4+ KB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 28 entries, 0 to 27
Data columns (total 12 columns):
id            28 non-null int64
timestamp     28 non-null object
gender        28 non-null int64
star_sign     28 non-null object
phone_os      28 non-null object
height        28 non-null int64
weight        28 non-null int64
sleepiness    28 non-null int64
iq            28 non-null int64
fb_friends    28 non-null int64
yt            28 non-null float64
self_intro    28 non-null object
dtypes: float64(1), int64(7), object(4)
memory usage: 2.8+ KB

,id,timestamp,gender,star_sign,phone_os,height,weight,sleepiness,iq,fb_friends,yt,self_intro
476,477,3/13/2018 10:18:20,1,雙魚座,Android,187.00,87.00000,4,87.00,9487.0,5.9487,I'm a 87.
477,478,3/13/2018 10:18:29,2,雙子座,Android,180.00,88.00000,5,200.00,888.0,1,"I'm a ""Typical Lady""."
478,479,3/13/2018 10:19:40,2,雙魚座,Android,158.00,56.00000,3,110.00,589.0,0,I am so cuuuuuuute!
479,480,3/13/2018 10:20:20,1,處女座,Android,188.77,87.59487,5,50.87,9487.0,8.74,Let's party!
480,481,3/13/2018 12:03:21,1,天秤座,Android,176.00,60.00000,3,87.00,300.0,1,Desperate

In [0]:
bg_train_df = bg_train_df.drop(['id','timestamp','self_intro'],axis = 1)
bg_test_df = bg_test_df.drop(['id','timestamp','self_intro'],axis = 1)

In [4]:
from sklearn import preprocessing
le = preprocessing.LabelEncoder()

bg_train_df['star_sign'] =le.fit_transform(bg_train_df['star_sign'])
bg_test_df['star_sign'] = le.fit_transform(bg_test_df['star_sign'])


bg_train_df['phone_os'] =le.fit_transform(bg_train_df['phone_os'])
bg_test_df['phone_os'] = le.fit_transform(bg_test_df['phone_os'])

bg_train_df['yt'] = bg_train_df.astype('float64')
bg_train_df.info()
bg_test_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 477 entries, 0 to 480
Data columns (total 9 columns):
gender        477 non-null int64
star_sign     477 non-null int64
phone_os      477 non-null int64
height        477 non-null float64
weight        477 non-null float64
sleepiness    477 non-null int64
iq            477 non-null float64
fb_friends    477 non-null float64
yt            477 non-null float64
dtypes: float64(5), int64(4)
memory usage: 37.3 KB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 28 entries, 0 to 27
Data columns (total 9 columns):
gender        28 non-null int64
star_sign     28 non-null int64
phone_os      28 non-null int64
height        28 non-null int64
weight        28 non-null int64
sleepiness    28 non-null int64
iq            28 non-null int64
fb_friends    28 non-null int64
yt            28 non-null float64
dtypes: float64(1), int64(8)
memory usage: 2.2 KB

In [0]:
bg_train_df =  bg_train_df[(bg_train_df['height']<200) & (bg_train_df['height']>120) & (bg_train_df['weight']<150)&(bg_train_df['weight'])>30 & (bg_train_df['fb_friends']<=5000)&(bg_train_df['yt']<200)]

In [6]:
bg_train_X = bg_train_df.loc[:,['star_sign','phone_os','height','weight','sleepiness','iq','fb_friends','yt']]
bg_train_y = bg_train_df.loc[:,['gender']]

bg_test_X = bg_test_df.loc[:,['star_sign','phone_os','height','weight','sleepiness','iq','fb_friends','yt']]
bg_test_y = bg_test_df.loc[:,['gender']]



bg_train_X.info()
bg_test_y.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 455 entries, 0 to 480
Data columns (total 8 columns):
star_sign     455 non-null int64
phone_os      455 non-null int64
height        455 non-null float64
weight        455 non-null float64
sleepiness    455 non-null int64
iq            455 non-null float64
fb_friends    455 non-null float64
yt            455 non-null float64
dtypes: float64(5), int64(3)
memory usage: 32.0 KB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 28 entries, 0 to 27
Data columns (total 1 columns):
gender    28 non-null int64
dtypes: int64(1)
memory usage: 448.0 bytes

In [7]:
print('bg_train before smote:')
print(str(pd.value_counts(bg_train_y.values.flatten())))

bg_train before smote:
1    342
2    113
dtype: int64

In [8]:
from imblearn.over_sampling import SMOTE
from imblearn.ensemble import EasyEnsemble 
from imblearn.over_sampling import RandomOverSampler

sm = SMOTE(random_state=10000)

bg_train_X_res, bg_train_y_res = sm.fit_sample(bg_train_X, bg_train_y)



bg_train_y_res = pd.DataFrame(bg_train_y_res, columns = ["gender"])
bg_train_X_res = pd.DataFrame(bg_train_X_res, columns = ['star_sign','phone_os','height','weight','sleepiness','iq','fb_friends','yt'])

print(str(pd.value_counts(bg_train_y_res.values.flatten())))

2    342
1    342
dtype: int64

/usr/local/lib/python3.6/dist-packages/sklearn/utils/validation.py:761: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [9]:
from sklearn import tree
from sklearn import metrics
import graphviz
print('decision tree')
tree_clf_no = tree.DecisionTreeClassifier(criterion = 'entropy',max_depth=3,max_leaf_nodes = 8)
tree_clf_with = tree.DecisionTreeClassifier(criterion = 'entropy',max_depth=3,max_leaf_nodes = 8)

bg_tree_clf_no_smote = tree_clf_no.fit(bg_train_X,bg_train_y)
bg_tree_clf_with_smote = tree_clf_with.fit(bg_train_X_res,bg_train_y_res)

bg_tree_predicted_no_smote = bg_tree_clf_no_smote.predict(bg_test_X)
bg_tree_predicted_with_smote = bg_tree_clf_with_smote.predict(bg_test_X)

bg_tree_accuracy_no_smote = metrics.accuracy_score(bg_tree_predicted_no_smote, bg_test_y)
bg_tree_accuracy_with_smote = metrics.accuracy_score(bg_tree_predicted_with_smote, bg_test_y)

print('Accuracy no smote  ',bg_tree_accuracy_no_smote)
print("Accuracy with smote",bg_tree_accuracy_with_smote)
print("Classification no smote")
print(metrics.classification_report(bg_test_y, bg_tree_predicted_no_smote))
print("Classification with smote")
print(metrics.classification_report(bg_test_y, bg_tree_predicted_with_smote))

decision tree
Accuracy no smote   0.39285714285714285
Accuracy with smote 0.39285714285714285
Classification no smote
              precision    recall  f1-score   support

           1       0.50      0.29      0.37        17
           2       0.33      0.55      0.41        11

   micro avg       0.39      0.39      0.39        28
   macro avg       0.42      0.42      0.39        28
weighted avg       0.43      0.39      0.39        28

Classification with smote
              precision    recall  f1-score   support

           1       0.50      0.29      0.37        17
           2       0.33      0.55      0.41        11

   micro avg       0.39      0.39      0.39        28
   macro avg       0.42      0.42      0.39        28
weighted avg       0.43      0.39      0.39        28